controller:
  replicaCount: 3

  nodeSelector:
    cloud.google.com/gke-nodepool: db-pool

  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 300m
      memory: 256Mi
